* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto Thin', cursive;
}

:root {
}

.App {
    display: flex;
    justify-content: center;

    width: 100vw;
    min-height: 100vh;
}
