* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto Thin', cursive;
}

body {
    background-color: lightblue;
    min-height: 100vh;
}

.App {
    display: flex;
    justify-content: center;

    width: 100vw;
}
