.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameHeader {
    min-height: 15%;
}

.gameMain {
    display: flex;
    justify-content: space-around;

    width: 100vw;
}

.leftSide {
    width: 25%;
}

.rightSide {
    width: 25%;
}